<?xml version="1.0" encoding="utf-8"?>
<arkanoid>
	<config>
		<display>
			<fullscreen>false</fullscreen>
			<background>true</background>
			<language>en</language>
			<width>640</width>
			<height>480</height>
		</display>
		<sound>
			<sound_volume>low</sound_volume>
			<music_volume>low</music_volume>
		</sound>
	</config>
</arkanoid>

